<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{layout/layout}">
<head>
<title>Strona główna</title>
<link rel="stylesheet" type="text/css"
	href="/resources/css/productList.css"
	th:href="@{/resources/css/productList.css}" media="screen">
<meta charset="utf-8" />
<script type="text/javascript" th:src="@{/resources/js/productList.js}"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<p th:text="${testKoszyk}">TestKoszyk</p>
		
			<div class="well well-sm">
				<strong>Widok</strong>
				<div class="btn-group">
					<a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list"> </span>List</a>
					<a href="#" id="grid" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th"></span>Grid</a>
				</div>
			</div>
			<div id="products" class="row list-group">
				<div class="item  col-xs-4 col-lg-4" th:each="product : ${productList}">
					<div class="thumbnail">
						<img class="group list-group-image"	src="http://placehold.it/400x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner list-group-item-heading" th:text="${product.productName}">ProductName</h4>
							<p class="group inner list-group-item-text" th:text="${product.description}">PrductDescription</p>
							<div class="row">
								<div class="col-xs-12 col-md-6">
									<p class="lead" th:inline="text">[[${product.price}]]zł</p>
								</div>
								<div class="">
									<div class="row">
										<div sec:authorize="isAuthenticated()" class="col-xs-12 col-md-6">
											<a class="btn btn-success" th:href="@{|/product/${product.id}/addToCart|}" >Dodaj do koszyka</a>
										</div>
										<div class="col-xs-12 col-md-6">
											<a class="btn btn-success" th:href="@{|/product/${product.id}|}">Szczegóły</a>
										</div>
									</div>
								</div>
							</div>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>