<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{layout/layout}">
<head>
<title>Strona główna</title>
<link rel="stylesheet" type="text/css"
	href="/resources/css/productList.css"
	th:href="@{/resources/css/productList.css}" media="screen">
<meta charset="utf-8" />
<script type="text/javascript" th:src="@{/resources/js/productList.js}"></script>
	
<script type="text/javascript">
		$(function() {
			$(".btnmodal").on('click', function() {
				/* $('div[id="id_product"]').val($(this).data('product_id')); */
				/* alert($(this).data('product_name'));  */
				document.getElementById("product_name").innerHTML = $(this).data('product_name');
				document.getElementById("product_description").innerHTML = $(this).data('product_description');
				document.getElementById("product_price").innerHTML = $(this).data('product_price');
				$('#modalAHref').attr('href', '/OnlineStoreWebApp/product/'+ $(this).data('product_id') +'/addToCart');
				$('#myModal').modal('show');
			});
		});
</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="well well-sm">
				<strong>Widok</strong>
				<div class="btn-group">
					<a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list"> </span>List</a>
					<a href="#" id="grid" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th"></span>Grid</a>
				</div>
			</div>
			<div id="products" class="row list-group">
				<div class="item  col-xs-4 col-lg-4" th:each="product : ${productList}">
					<div class="thumbnail">
						<img class="group list-group-image"	src="http://placehold.it/400x250/000/fff" alt="" />
						<div class="caption">
							<h4 class="group inner list-group-item-heading" th:text="${product.productName}">ProductName</h4>
							<!-- <p class="group inner list-group-item-text" th:text="${product.description}">PrductDescription</p> -->
							<div class="row">
								<div class="col-xs-12 col-md-6">
									<p class="lead" th:inline="text">[[${product.price}]]zł</p>
								</div>
								<div class="">
									<div class="row">
										<div sec:authorize="isAuthenticated()" class="col-xs-12 col-md-6">
											<a class="btn btn-success" th:href="@{|/product/${product.id}/addToCart|}" >Dodaj do koszyka</a>
										</div>
										<div class="col-xs-12 col-md-6">
											<a class="btnmodal btn btn-success" data-toggle="dropdown" 
											th:attr="data-product_id=${product.id},data-product_name=${product.productName},data-product_price=${product.price},data-product_description=${product.description}">Szczegóły</a>
										</div>
									</div>
								</div>
							</div>							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- MODAL -->
		<div class="row">
			<div class="col-xs-12">
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">Dane szczegółowe</h4>
							</div>
							<div class="modal-body">
								<div id="orderItems" class="modal-body">
								<div class="row">
									<div class="col-xs-12">
										<img class=""	src="http://placehold.it/400x250/000/fff" alt="" />	
									</div>
										<div class="col-xs-6" style="margin-top: 10px">
											<div>Nazwa produktu:<p id="product_name"></p></div>
											<div>Opis produktu:<p id="product_description"></p></div>
											<div>Cena:<p id="product_price"></p></div>
										</div>
										<div sec:authorize="isAuthenticated()" class="col-xs-6" style="margin-top: 10px">
											<a id="modalAHref"class="btn btn-success">Dodaj do koszyka</a>
										</div>
								</div>
							</div>		
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- MODAL [END]  -->
	</div>	
</body>
</html>