<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"	xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
   <!--  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Task List</title>    -->
   <title>Hello World!</title>
  </head>
  <body>
    <div th:replace="layout/header :: header">    
    </div>
    <div class="container">
      <div layout:fragment="content">
        <h1>Treść Content</h1>
      </div>
      <!-- <div th:replace="fragments/footer :: footer"></div> -->
    </div>
  </body>
</html>